@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'New Tegomin', serif;
    font-size: 29px;
}
body{
    background-color: #DCF1F9;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #155D7A;
    padding: 25px 0;
    display: block;
}
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}
.wrapper .sidebar h2 img{
    height: 100px;
    width: 100px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: #EEF8FC;
    display: block;
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: #1B769D;
}
.wrapper .sidebar ul li:hover a {
    color: #fff;
}
.wrapper .maincontent {
    width: 100%;
    margin-left: 200px;
    font-size: 19px;
}
.wrapper .maincontent .section{
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-info-home{
    text-align: center;
    float: left;
    width: 320px;
    margin-bottom: 50px;
}
.info-prestazioni{
    color: #76bc53;
}
.info-medici{
    color: #ae458b;
}
.info-interventi{
    color: #ea9c46;
}
.numbers{
    font-size: 42px;
    font-weight: 900;
}
.text{
    font-size: 30px;
    font-weight: 300;
}
.box-info-home-wrapper{
    position: relative;
    text-align: center;
}
.box-info-home-wrapper img{
    color: #155D7A;
}

.wrapper-lista-prestazioni{
    width: 100%;
    float: left;
    
}
.wrapper-lista-prestazioni .mod-table{
    margin-top: 30px;
    margin-left: 30px;
    float:left;
}
.wrapper-lista-prestazioni .mod-table h2{
    background-color: #1d80a7;
    color: #fff;
    text-align: center;
    margin: 1px;
    width: 238px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    float: left;
}
.wrapper-lista-prestazioni .mod-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.wrapper-lista-prestazioni .mod-table ul li{
    width: 238px;
    margin: 1px;
    text-align: center;
    font-weight: 500;
    float: left;
    background-color: #3fa4cc;
    padding: 10px 0;
    cursor: pointer;
}
.wrapper-lista-prestazioni .mod-table ul li a{
   color: #fff;
}
.wrapper-lista-prestazioni .info-bar{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: #3fa4cc;
}
.wrapper-lista-prestazioni .info-bar h3{
    float: left;
    margin-left: 15px;
    color:#155d7a;
}
.arancione{
    color: #f26233;
    font-weight: 600;
}
.wrapper-contatti{
    height: 100vh;
    float: left;
    display: block;
    margin-left: 30px;
    align-items: center;
    text-align: center;
}
.sezione-box{
    display: block;
    float: left;
    width: 689px;
    padding-right: 20px;
    border-right: 1px solid #aaa;
}
.wrapper-contatti p img {
    padding-top: 18px;
    padding-bottom: 3px;
}
.wrapper-contatti p{
    padding-top: 5px;
    padding-bottom: 13px;
}
.header{
    width: 100%;
    text-align: left;
    background: rgb(134, 253, 208);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: #155D7A;
    height: 50px;
    padding-left: 15px;
}
